@charset "UTF-8";

property: var(--char-index);

html, body { height: 100%; }
body, table, th, td, button, select, input, textarea {
	font-family: 'Montserrat', 'Noto Sans KR', "돋움", Dotum, Arial, sans-serif;
	font-size:13px;
	color:#666;
	-webkit-text-size-adjust:none;
	word-break:keep-all;
}

nav#top-gnb .gnb1 li .gnb2 {
	opacity: 0;
	transition: all .3s 0s;
}

/* 공통 영역 */
section {
  width: 100vw;
  height: 100vh;
  background: #fff;
}
#wrap {
  overflow: hidden;
}
.word {
  overflow: hidden;
  line-height: 1.1;
  display: inline-block;
}
.area {
  max-width: 1280px;
  margin: 0 auto;
}

.gnb2 span:hover, .sidegnb2 span:hover {
	cursor: pointer;
	color: #0f6e38;
	font-weight: 500;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* 헤더 영역 */
#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 95px;
	z-index: 9999;
}
.header-wrap {
	position: fixed;
	background: transparent;
	width: 100%;
	z-index: 99;
	background: none;
	transition: all 0.3s ease-in-out;
}
.header-wrap.fixed {
	background: #fff;
	border-bottom: 1px solid #e8e8e8;
	transition: all 0.3s ease-in-out;
}
.header-box {
	position: relative;
	width: 100%;
	height: 95px;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;
	z-index: 102;
}
.header-box #logo {
	position: relative;
	float: left;
	padding-top: 28px;
	z-index: 102;
}
.header-box #logo img {
}
.header-box .right-box {
	position: absolute;
	top: 50%;
	right: 50px;
	margin-top: -12px;
	z-index: 102;
}
.header-box .right-box div {
	float: left;
	z-index: 102;
}
.header-box .right-box .langBtn {
	position: relative;
	width: 60px;
	height: 30px;
	cursor: pointer;
}
.header-box .right-box .langBtn button {
	position: relative;
	display: block;
	color: #fff;
	font-size: 13px;
	line-height: 32px;
	padding: 0 10px;
}
.header-box .right-box .langBtn button .arrow-icon {
	position: absolute;
	margin-left: 10px;
	font-size: 1px;
}
.header-box .langBtn .langList {
	display: none;
	position: absolute;
	top: 30px;
	left: -2px;
	padding-bottom: 3px;
	width: 100%;
	background: #fff;
	border: 1px solid #e8e8e8;
	transition: background 0.3s;
}

.header-box .right-box .langBtn .langList li:first-child {
	padding-top: 3px;
	box-sizing: border-box;
}
.header-box .right-box .langBtn .langList li a {
	display: block;
	padding: 0 10px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	color: #010101;
	box-sizing: border-box;
}
.header-box .right-box .searchBtn {
	position: relative;
	margin-left: 20px;
}
.header-box .right-box .searchBtn button {
	width: 32px;
	height: 32px;
}
.header-box .right-box .searchBtn button .search-icon img {
	width: 25px;
	height: 25px;
	filter : invert(1);
}
.header-box .right-box .sideBtn {
	width: 26px;
	height: 32px;
	margin-left: 17px;
	padding-top: 2px;
	box-sizing: border-box;
	cursor: pointer;
}
.header-box .right-box .sideBtn span {
	display: block;
	width: 26px;
	height: 3px;
	background: #fff;
	margin: 3px auto;
}
.header-box .right-box .sideBtn span:nth-child(1) {
	margin-left: 3px;
}
.header-box .right-box .sideBtn span:nth-child(2) {
	margin-left: 2px;
}
.header-box .right-box .sideBtn span:nth-child(3) {
	margin-left: 1px;
}
/* 상단 gnb */
nav#top-gnb {
	position: absolute;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
}
#top-gnb .gnb1 {
	position: relative;
	display: inline-block;
	z-index: 102;
}
#top-gnb .gnb-bg {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: #fff url('../img/gnbBg.jpg') center 0 no-repeat;
	transition: height .3s ease-in-out;
	z-index: 98;
}
#top-gnb .gnb-bg:after {
	content: '';
	position: absolute;
	top: 95px;
	width: 100%;
	left: 0;
	height: 1px;
	background: #e8e8e8;
	z-index: 98;
}
#top-gnb .gnb1 > li {
	position: relative;
	float: left;
	box-sizing: border-box;
}
#top-gnb .gnb1 li a {
	display: block;
	line-height: 85px;
	font-size: 17px;
	color: #fff;
	text-align: center;
	letter-spacing: -0.65px;
	font-weight: 400;
	padding: 10px 60px;
	box-sizing: border-box;
}
#top-gnb .gnb1 > li > a:before {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -53px;
	content: '';
	width: 40px;
	height: 0;
	background: #e81212;
	transform: skew(-20deg);
	transition: height .3s;
}
#top-gnb .gnb1 > li > a:after {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -19px;
	content: '';
	width: 68px;
	height: 0;
	background: #0f6e38;
	transform: skew(-20deg);
	transform: height .3s;
}
#top-gnb .gnb1 > li.on > a:before {
	height: 12px;
}
#top-gnb .gnb1 > li.on > a:after {
	height: 25px;
}
#top-gnb .gnb1 li .gnb2 {
	position: absolute;
	top: 95px;
	left: 0px;
	z-index: 99;
	width: 100%;
	text-align: left;
	height: 0;
}
#top-gnb .gnb1 > li > .gnb2:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 1px;
	background: #000;
	z-index: 10;
	transition: all .5s;
}
#top-gnb .gnb1 > li:hover > .gnb2:before {
	width: 100%;
	left: 0;
}
#top-gnb .gnb1 > li.on .gnb2 {
	background: rgba(0, 0, 0, .05);
}
#top-gnb .gnb1 li .gnb2 li a {
	display: block;
	padding: 10px 0 10px 35px;
	color: #3c3c3c;
	font-size: 17px;
	letter-spacing: -1px;
	font-weight: 400;
	line-height: 1.41;
	text-align: left;
}
#top-gnb .gnb1 li .gnb2 li {
	position: relative;
}
#top-gnb .gnb1 li .gnb2 li .gnb3 {
	padding: 0 0 15px;
}
#top-gnb .gnb1 li .gnb2 li .gnb3 > li > a {
	padding-left: 40px;
	display: block;
	font-size: 14px;
	line-height: .5;
	color: rgba(0, 0, 0, .5);
}
#top-gnb .gnb1 li .gnb2 li .gnb3 > li > a span {
	position: relative;
	padding-left: 10px;
	display: inline-block;
}
#top-gnb .gnb1 li .gnb2 li .gnb3 > li > a span:before {
	content: '-';
	position: absolute;
	display: inline-block;
	top: -1px;
	left: 0;
}
#top-gnb.open .gnb1 li .gnb2 {
	position: absolute;
	height: 445px;
	padding-top: 25px;
	box-sizing: border-box;
	z-index: 99;
	display: block;
	opacity: 1;
	transition: height .5s ease-in-out, opacity .5s ease-in-out .2s, background .3s ease-in-out;
}
#top-gnb.open .gnb-bg {
	height: 540px;
	border-bottom: 1px solid #efeeeb;
	box-sizing: border-box;
}
#top-gnb.open .gnb1 > li a {
	color: #000;
}

/* 상단바 검색창 */
.searchBox {
	position: fixed;
	left: 0;
	top: 95px;
	width: 100%;
	height: 330px;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background: #fff;
	z-index: 99;
	opacity: 0;
	transition: all .3s;
	visibility: hidden;
}
.searchBox.open {
	opacity: 1;
	transition: all .3s;
	visibility: visible;
}
.searchBox .inner {
	position: relative;
	text-align: center;
}
.searchBox .inner h5 {
	margin: 50px 0 30px;
	font-size: 40px;
	color: #000;
}
.searchBox form .search-box{
	position: relative;
	width: 100%;
}
.searchBox form .search-box input#headerSearch {
	width: 80%;
	height: 40px;
	padding: 30px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #000;
	font-size: 20px;
	font-weight: 100;
}
.searchBox form .search-box input#headerSearch:focus {
	outline: none;
}
.searchBox form .search-box .btn-search {
	position: absolute;
	top: 0;
	right: 140px;
}
.searchBox form .search-box .btn-search img {
	filter: invert(0);
}
.searchBox form .ex {
	position: relative;
	width: 430px;
	margin: 0 auto;
	margin-top: 60px;
	padding-left: 60px;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 40px;
	font-weight: 300;
}
.searchBox form .ex:before {
	position: absolute;
	left: 0;
	content: 'ex';
	display: inline-block;
	width: 60px;
	height: 35px;
	margin: 2.5px 0;
	border-radius: 30px;
	background: #0f6e38;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 31px;
}

/* 사이드메뉴 */
.header-box section.sideGnb {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	transition: all .3s .4s;
}
.header-box section.sideGnb.open {
	opacity: 1;
	visibility: visible;
}
.sideGnb:before {
	content: '';
	display: block;
	width: 100%;
	height: 220px;
	position: absolute;
	top: 0;
	left: 0;
	background: #f6f6f6;
}
.sideGnb .sideinner {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	bottom: 0;
	right: -1px;
	border: 1px solid #ddd;
}
.sideGnb .sideinner .bg-box {
	position: absolute;
	top: 0;
	left: 8.5%;
	right: 8.5%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}
.sideGnb .sideinner .bg-box div {
	position: relative;
	width: 16.666%;
	height: 100%;
	float: left;
	z-index: 0;
}
.sideGnb .sideinner .bg-box div:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 1px;
	height: 100%;
	background: #ededed;
}
.sideGnb .sideinner .bg-box div:first-child:before {
	display: none;
}
.sideGnb .sideinner .bg-box div:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #333;
	transition: width .6s ease-in-out .2s;
}
.sideGnb.open .sideinner .bg-box div:after {
	width: 0;
	transition: width .6s ease-in-out .2s;
}
.sideGnb .sideinner .inner {
	width: 85%;
	margin: 0 auto;
}
.sideGnb .sideinner .inner .sideGnb1 {
	position: relative;
	position: absolute;
	/* width: 100%;
	height: 100vh; */
	top: 0;
	left: 8.5%;
	right: 8.5%;
	height: 100%;
	/* overflow: scroll; */
}
.sideGnb .sideinner .inner .sideGnb1 li {
	position: relative;
	float: left;
	width: 16.666%;
	height: 100vh;
	z-index: 1;
	margin-top: 125px;
}
.sideGnb .sideinner .inner .sideGnb1 li h2 {
	padding-left: 50px;
}
.sideGnb .sideinner .inner .sideGnb1 li h2 span {
	position: relative;
	display: inline-block;
	font-size: 30px;
	color: black;
	cursor: default;
}
.sideGnb .sideinner .inner .sideGnb1 li h2 span em {
	position: absolute;
	top: -75px;
	left: -20px;
	color: rgba(0, 0, 0, .05);
	font-size: 115px;
	font-weight: 700;
	font-style: italic;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 {
	position: absolute;
	top: 100px;
	left: 40px;
	text-align: left;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li {
	width: 100%;
	height: 100%;
	margin-top: 25px;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li a {
	position: relative;
	padding-left: 20px;
	box-sizing: border-box;
	display: inline-block;
	opacity: 0;
	transform: translateX(-50%);
	transition: all .8s;
}
.sideGnb.open .sideinner .inner .sideGnb1 li .sideGnb2 li a {
	opacity: 1;
	transform: translateX(0);
	/* transition: transform .8s ease-in-out , opacity .8s ease-in-out; */
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 > li > a:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 5px;
	display: block;
	width: 6px;
	height: 6px;
	background: #188127;
	border-radius: 100%;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li a span {
	color: #000;
	font-weight: 600;
	font-size: 18px;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li a span:hover {
	color: #0f6e38;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 {
	width: 100%;
	height: 100%;
	padding-top: 25px;
	box-sizing: border-box;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 li {
	position: relative;
	margin: 5px 0;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 li:first-child {
	margin-bottom: 15px;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 li a {
	position: relative;
	padding-left: 20px;
	box-sizing: border-box;
	opacity: 0;
	transform: translateX(-50%);
	transition: all .8s;
}
.sideGnb.open .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 li a {
	opacity: 1;
	transform: translateX(0);
	/* transition: transform .8s ease-in-out 0s, opacity .8s ease-in-out 0s; */
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 li a:before {
	position: absolute;
	content: '-';
	display: block;
	color: #000;
	top: 2px;
	left: 5px
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 li a span {
	font-weight: 400;
	font-size: 16px;
	color: #000;
}
.sideGnb .sideinner .inner .sideGnb1 li .sideGnb2 li .sideGnb3 li a span:hover {
	color: #0f6e38;
}
.sideGnb .sideinner .inner .sideGnb1 li:last-child .inner {
	position: absolute;
	right: 0;
	bottom: 180px;
	opacity: 0;
	transform: translateX(-50%);
	transition: all .8s;
}
.sideGnb.open .sideinner .inner .sideGnb1 li:last-child .inner {
	opacity: 1;
	transform: translateX(0);
	/* transition: transform .8s ease-in-out 0s, opacity .8s ease-in-out 0s; */
}
.sideGnb .sideinner .inner .sideGnb1 li:last-child .inner a {
	position: relative;
	display: block;
	max-width: 280px;
	width: 115%;
	border: 1px solid #c7c7c7;
	border-radius: 10px;
	padding: 14px 40px 12px 24px;
	box-sizing: border-box;
	margin-top: 10px;
}
.sideGnb .sideinner .inner .sideGnb1 li:last-child .inner a:first-child {
	margin-top: 0;
}
.sideGnb .sideinner .inner .sideGnb1 li:last-child .inner a span {
	font-size: 15px;
	line-height: 1.3;
	font-weight: 500;
	letter-spacing: -0.75px;
	color: #545454;
	display: inline-block;
}
.sideGnb .sideinner .inner .sideGnb1 li:last-child .inner a img {
	position: absolute;
	top: calc(50% - 10px);
	right: 20px;
	width: 20px;
	height: 20px;
	transition: filter .4s;
}
.sideGnb .closeBtn {
	position: relative;
	position: absolute;
	top: 0;
	right: 0;
	width: 68px;
	height: 68px;
	background-color: #000;
	z-index: 999;
}
.sideGnb .closeBtn:before, .sideGnb .closeBtn:after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -1.5px;
	content: '';
	display: block;
	width: 3px;
	height: 30px;
	background: white;
}
.sideGnb .closeBtn:before {
	transform: rotate(45deg);
}
.sideGnb .closeBtn:after {
	transform: rotate(-45deg);
}
.sideGnb1 li:nth-child(5) .sideGnb2 li a img, .gnb1 li:nth-child(5) .gnb2 li a img {
	display: inline-block;
	margin-left: 0px;
	margin-top: -4px;
	width: 17px;
	height: 17px;
	filter: drop-shadow(0 0 0 #09814a);
}

/* 메인 화면 영역 */
section.main {
  background: none;
  position: relative;
}
#bg-video {
  z-index: -1;
}

.main .inner-wrap {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}
.main .inner-wrap .inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: table;
}
.main .inner-wrap .inner .txt-box {
  position: relative;
  width: 50%;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
.txt-box h2 {
  font-size: 76px;
  font-weight: 600;
  letter-spacing: -2.5px;
  display: block;
}
.txt-box h2 .word {
	overflow: hidden;
	line-height: 1.1;
	display: inline-block;
}
.txt-box h2 .word span {
	display: inline-block;
	animation: textAni 1.5s ease both;
}
@keyframes textAni {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.rotate-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -40px;
	animation: fade-in 1s both 2.8s;
}
.rotate-icon:before {
  position: absolute;
  top: 50%;
  margin-top: -87px;
  left: 50%;
  margin-left: -87px;
  content: '';
  width: 174px;
  height: 174px;
  background: url('../img/main/play_line.png') 0 0 no-repeat;
  animation: rotateAni 10s linear reverse infinite;
}
@keyframes rotateAni {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.play-btn {
  position: relative;
  width: 80px;
  height: 80px;
  background: url('../img/main/play.png') 55% center no-repeat;
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 11;
}
.play-btn svg {
  position: absolute;
  width: 72px;
  height: 72px;
  fill: none;
  stroke: #fff;
  overflow: visible;
  top: 5px;
  left: -1px;
  transform: rotate(-90deg);
}
.play-btn svg circle {
  transform-origin: center;
  stroke: #0f6e38;
  stroke-dasharray: 339;
  stroke-dashoffset: 339;
  stroke-width: 4px;
}

.scroll-box {
  position: absolute;
  top: 50%;
  margin-top: 150px;
  width: 100%;
	animation: fade-in 1s both 2s;
}
.scroll-icon {
  position: relative;
}
.scroll-box .scroll-icon:before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 88px;
  height: 88px;
  background: #0f6e38;
  border-radius: 100%;
}
.scroll-box .scroll-icon .txt {
  animation: upDownAni 1.5s ease-in-out infinite;
}
.scroll-box .scroll-icon .txt span {
  display: block;
  position: absolute;
  width: 80px;
  height: 10px;
  top: -15px;
  left: 5px;
  font-size: 9px;
  font-weight: 600;
  color: rgba(255, 255, 255, .7);
  text-transform: uppercase;
  transform: rotate(90deg);
}
@keyframes upDownAni {
  from {
    opacity: .8;
    transform: translateY(-5px);
  }
  50% {
    opacity: 1;
    transform: translateY(5px);
  }
  to {
    opacity: .8;
    transform: translateY(-5px);
  }
}

.main .btn-box {
  position: absolute;
  width: 22px;
  top: 50%;
  right: 2.7%;
  margin-top: -154px;
  z-index: 999;
	animation: btnBoxAni 2s ease-in-out both;
}
.main .btn-box ul {
  width: 100%;
}
.main .btn-box ul li {
  float: left;
  width: 22px;
  height: 110px;
}
.main .btn-box ul li a {
  width: 160px;
  height: 22px;
  display: block;
  text-transform: uppercase;
  transform: rotate(90deg);
  transform-origin: left;
}
.main .btn-box ul li:first-child a {
  width: 110px;
}
.main .btn-box ul li a img {
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.main .btn-box ul li a span {
  margin-left: 7px;
  font-size: 12.5px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
.main .btn-box ul li + li {
  margin-top: 55px;
}
@keyframes btnBoxAni {
	from {
		opacity: 0;
		right: -10%;
	}
	top {
		opacity: 1;
		right: 2.7%;
	}
}
